<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets>

    <target xsi:type="ColoredConsole"
            name="logconsole"
            encoding="UTF-8"
            layout="${message}"
            useDefaultRowHighlightingRules="true"
            errorStream="true"
            enableAnsiOutput="false"
            detectConsoleAvailable="true"
            detectOutputRedirected="true">
      <highlight-row backgroundColor="black" condition="level == LogLevel.Error" foregroundColor="red"/>
      <!-- repeated -->
    </target>

    <target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${time} ${uppercase:${level}} ${message} ${exception:format=toString" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>